.todo-sections {
    display: flex;
    > button {
        flex: 1;
        height: 50px;
        cursor: pointer;
        background-color:#71c5bd;
        border: 1px solid #ccc;


        &:hover {
            background-color: #3C948B;
            color: white;
        }

        &.active {
            color: white;
            background-color: #3C948B;
            &:hover {
               background-color:#71c5bd;
               color: black;
            }
        }
    }

}