.todo-sections {
    display: flex;
    > button {
        flex: 1;
        cursor: pointer;
        background-color:white;
        border: 1px solid #ccc;
        transition: background-color 0.3s ease-in-out;

        &:hover {
            background-color: #bbb;
            color: white;
        }

        &.active {
            background-color: #8cb691;
        }
    }

}