.todo-list {
    display: flex;
    flex-direction: column;
    .todo-item {
        height: 30px;
        display: flex;
        border: 1px solid #eee;
        align-items: center;

        span {
            width: 100%;
        }

        button {
            width: 70px;
        }
    }
}