.todo-app {
    width: 500px;
    height: 80%;
    background-color: white;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}

.todo-input {
    height: 50px;
}

.todo.sections {
    height: 50px;
}

.todo-list {
    height: 100%;
}