.todo-list {
    display: flex;
    flex-direction: column;
    .todo-item {
        height: 30px;
        display: flex;
        border: 1px solid #eee;
        align-items: center;
        &:hover {
            background-color: rgb(160, 158, 158);
        }

        .check {
            display: none;
            color: rgb(19, 207, 19);
        }

        span {
            width: 100%;
        }

        button {
            width: 90px;
            height: 18px;
            color: white;
            border-radius: 10px;
            border-style: none;
            background-color: #3C948B;
            margin-right: 5px;
            outline: none;
            &:hover {
                cursor: pointer;
                color: black;
                background-color: #71c5bd;
            }
        }
    }
}